@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
*{
    font-family: 'Poppins',sans-serif;
}
.graph{
    display: flexbox;
    /* justify-content:end ; */
    margin-bottom: -8%;
    margin-left:-13%;
    /* margin-top:20% */
}
.illustration {
    box-shadow: 5px 5px 10px rgb(8, 8, 8);
    /* flex-direction: column; */
   /* background-color: #a4508b;
background-image: linear-gradient(326deg, #a4508b 0%, #5f0a87 74%); */

/* background-color: #7f53ac;
background-image: linear-gradient(315deg, #7f53ac 0%, #647dee 74%); */
/* background-color: #f9c5d1;
background-image: linear-gradient(315deg, #f9c5d1 0%, #9795ef 74%); */
/* background-color: #89d4cf;
background-image: linear-gradient(315deg, #89d4cf 0%, #6e45e1 74%); */
/* background-color: #fd027c; */
/* background-color: rgb(22, 105, 230); */
/* background-image: linear-gradient(180deg, #fd027c, rgb(245, 107, 100) ); */
/* background-image: linear-gradient(180deg, #fd027c ); */
/* background-image: linear-gradient(150deg,#ebdff5,rgb(207, 207, 207)); */
/* background-image: linear-gradient(150deg,#ba5370   ,#f0b291); */
    /* background:rgb(139, 152, 228);
    background-image: radial-gradient(circle, rgba(66,178,255,1) 35%, rgba(192,223,255,1) 57%); */
background-color: #47f8bd;
background-image: linear-gradient(135deg,#03e0fd,#05ffb4);
/* background-repeat: no-repeat; */
    /* background: rgb(131,58,180); */
/* background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(42,119,244,1) 34%, rgba(29,128,253,1) 78%, rgba(252,176,69,1) 99%); */
    color: rgb(31, 26, 34);
    margin: auto;
    border:0px;
}
.gen_card {
    /* box-shadow: 0px 0px 10px rgba(0.2, 0.2, 0.2, 0.308); */
    /* margin-bottom: 24px; */
    margin: auto;
    /* display: inline; */
    /* border:1px solid rgb(247, 148, 247); */
    font-size: x-large;
    width: 30%;
    height: 100%;
}

.g-0, .gy-0 {
    /* --bs-gutter-y: 0; */
}
.illustration-img {
    max-width: 120%;
    width: 120%;
}