@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
*{
    font-family: 'Poppins',sans-serif;
}
.heading_sidenav{
  margin-top: -7%;
}
.Headlogo{
  display: flex;
  justify-content: center;
  color:#f1f1f1;
  margin-top: -7%;
  /* background-color: aliceblue; */
}
.partition{
  display: flex;
  /* background-color: rgb(253, 10, 144); */
  /* background-color: #2f7ff7; */
  /* background-color: #00DDF3; */
  background-color: var(--pressedBlue);
  /* FF3D68 */
  /* background-image: linear-gradient(215deg,#C3073F,#950740,#6f2232); */
  margin-bottom: 3%;
  padding: 3%;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  color:#ffffff;
}

.partition:hover{
  /* background-color: var(--dbBlue); */
  background-color: #0377fc;
  color:rgb(255, 255, 255)
}
/* .accordian-button {
  background-color: #ccff00;
  color:#ccff00;
} */
.sidenav {
  height: 100%;
  width: 20%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  /* background-color: #222831; */
  /* background-color: #0d1117; */
  background-color: #242526;
  overflow-x: hidden;
  padding-top: 20px;
  
}
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #888;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}

.fa-caret-down {
  float: right;
  padding-right: 8px;
}

.dropdown-container {
  display: none;
  background-color: #262626;
  padding-left: 8px;
}

.sidenav a:hover,
.dropdown-btn:hover {
  color: #f1f1f1;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  /* color: #e4e6eb; */
  color: #ffffff;
  display: block;
  border: none;
  background: none;
  width: 100%;
  text-align: left;
  cursor: pointer;
  outline: none;
}

.active {
  background-color: green;
  color: white;
}

/* .accordion-flush {
    background-color: rgb(255, 0, 0);
    color: #000000;
} */

#accordionFlushExample {
    background-color: tomato;
}
.accordian-flush{
  background-color:#ccff00
}
.x-accordion-heading .x-accordion-toggle {
    background-color: #ff0000;
}
.accordion-body{
  background-color: #242526;
  border:0px;
}
/* .heading_logo{
  background-color: aliceblue;
}
.headofNav{
  background-color: aliceblue;
} */